<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>


				<dict>
				  <key>PostNotification</key>
				  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				  <key>cell</key>
				  <string>PSSwitchCell</string>
				  <key>default</key>
				  <false/>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>icon</key>
				  <string>icon/ani@2x.png</string>
				  <key>key</key>
				  <string>ani</string>
				  <key>label</key>
				  <string>AnimeGT</string>
				</dict>
				<dict>
				  <key>cellClass</key>
				  <string>HBLinkTableCell</string>
				  <key>icon</key>
				  <string>icon/dow@2x.png</string>
				  <key>label</key>
				  <string>AnimeGT</string>
				  <key>subtitle</key>
				  <string>dow</string>
				  <key>url</key>
				  <string>https://apps.apple.com/app/animegt/id1469145270</string>
				</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/aud@2x.png</string>
		  <key>key</key>
		  <string>aud</string>
		  <key>label</key>
		  <string>Audiomack</string>
		</dict>
		<dict>
		  <key>cellClass</key>
		  <string>HBLinkTableCell</string>
		  <key>icon</key>
		  <string>icon/dow@2x.png</string>
		  <key>label</key>
		  <string>Audiomack</string>
		  <key>subtitle</key>
		  <string>dow</string>
		  <key>url</key>
		  <string>https://apps.apple.com/app/audiomack-download-new-music/id921765888</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/aut@2x.png</string>
		  <key>key</key>
		  <string>aut</string>
		  <key>label</key>
		  <string>autorap Pro</string>
		</dict>
		<dict>
		  <key>cellClass</key>
		  <string>HBLinkTableCell</string>
		  <key>icon</key>
		  <string>icon/dow@2x.png</string>
		  <key>label</key>
		  <string>autorap</string>
		  <key>subtitle</key>
		  <string>dow</string>
		  <key>url</key>
		  <string>https://apps.apple.com/app/autorap-by-smule/id524299475</string>
		</dict>


		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/bea@2x.png</string>
		  <key>key</key>
		  <string>bea</string>
		  <key>label</key>
		  <string>Bear</string>
		</dict>
		<dict>
			<key>action</key>
			<string>ani</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/bom@2x.png</string>
		  <key>key</key>
		  <string>bom</string>
		  <key>label</key>
		  <string>boom</string>
		</dict>
		<dict>		
			<key>action</key>
			<string>boo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/mac@2x.png</string>
		  <key>key</key>
		  <string>mac</string>
		  <key>label</key>
		  <string>CAMFROG PRO</string>
		</dict>

		<dict>		
			<key>action</key>
			<string>cam</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	



		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/cam@2x.png</string>
		  <key>key</key>
		  <string>cam</string>
		  <key>label</key>
		  <string>CamScanner Pro</string>
		</dict>
		<dict>		
			<key>action</key>
			<string>caa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>			

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/ccs@2x.png</string>
		  <key>key</key>
		  <string>ccs</string>
		  <key>label</key>
		  <string>CCSoft</string>
		</dict>

		<dict>		
			<key>action</key>
			<string>ccs</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/bac@2x.png</string>
		  <key>key</key>
		  <string>bac</string>
		  <key>label</key>
		  <string>chrome</string>
		</dict>

		<dict>		
			<key>action</key>
			<string>goo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/cle@2x.png</string>
		  <key>key</key>
		  <string>cle</string>
		  <key>label</key>
		  <string>Cleaner Pro</string>
		</dict>
		<dict>		
			<key>action</key>
			<string>cll</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/col@2x.png</string>
		  <key>key</key>
		  <string>col</string>
		  <key>label</key>
		  <string>ColorfySubscriber</string>
		</dict>
		<dict>		
			<key>action</key>
			<string>coo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/coo@2x.png</string>
		  <key>key</key>
		  <string>coo</string>
		  <key>label</key>
		  <string>ColoringBook</string>
		</dict>
		<dict>		
			<key>action</key>
			<string>bok</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>			


		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/dee@2x.png</string>
		  <key>key</key>
		  <string>dee</string>
		  <key>label</key>
		  <string>Deezer</string>
		</dict>

		<dict>		
			<key>action</key>
			<string>dee</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/djm@2x.png</string>
		  <key>key</key>
		  <string>djm</string>
		  <key>label</key>
		  <string>DJ Mix Pads 2</string>
		</dict>

		<dict>		
			<key>action</key>
			<string>mix</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

				<dict>
				  <key>PostNotification</key>
				  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				  <key>cell</key>
				  <string>PSSwitchCell</string>
				  <key>default</key>
				  <false/>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>icon</key>
				  <string>icon/php@2x.png</string>
				  <key>key</key>
				  <string>php</string>
				  <key>label</key>
				  <string>DraftCodephp Pro</string>
				</dict>
		<dict>		
			<key>action</key>
			<string>dra</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/duo@2x.png</string>
					<key>key</key>
					<string>duo</string>
					<key>label</key>
					<string>duolingo</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>daa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	

		    <dict>
		      <key>PostNotification</key>
		      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		      <key>cell</key>
		      <string>PSSwitchCell</string>
		      <key>default</key>
		      <false/>
		      <key>defaults</key>
		      <string>com.github.tw3to.tw3ha</string>
		      <key>icon</key>
		      <string>icon/eee@2x.png</string>
		      <key>key</key>
		      <string>eee</string>
		      <key>label</key>
		      <string>Evernote</string>
		    </dict>

		<dict>		
			<key>action</key>
			<string>evv</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
		    <dict>
		      <key>PostNotification</key>
		      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		      <key>cell</key>
		      <string>PSSwitchCell</string>
		      <key>default</key>
		      <false/>
		      <key>defaults</key>
		      <string>com.github.tw3to.tw3ha</string>
		      <key>icon</key>
		      <string>icon/eve@2x.png</string>
		      <key>key</key>
		      <string>eve</string>
		      <key>label</key>
		      <string>Eve</string>
		    </dict>

		<dict>		
			<key>action</key>
			<string>app</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
				  <key>PostNotification</key>
				  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				  <key>cell</key>
				  <string>PSSwitchCell</string>
				  <key>default</key>
				  <false/>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>icon</key>
				  <string>icon/fan@2x.png</string>
				  <key>key</key>
				  <string>fan</string>
				  <key>label</key>
				  <string>FancyKey Pro</string>
				</dict>
				<dict>
				  <key>cellClass</key>
				  <string>HBLinkTableCell</string>
				  <key>icon</key>
				  <string>icon/dow@2x.png</string>
				  <key>label</key>
				  <string>FancyKey</string>
				  <key>subtitle</key>
				  <string>dow</string>
				  <key>url</key>
				  <string></string>
				</dict>
		<dict>		
			<key>action</key>
			<string>fan</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/cab@2x.png</string>
					<key>key</key>
					<string>cab</string>
					<key>label</key>
					<string>Firefox</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>fir</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	


				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/fov@2x.png</string>
					<key>key</key>
					<string>fov</string>
					<key>label</key>
					<string>FootyVid</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>foo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/goz@2x.png</string>
					<key>key</key>
					<string>goz</string>
					<key>label</key>
					<string>GEOZILLA</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>goo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
				  <key>PostNotification</key>
				  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				  <key>cell</key>
				  <string>PSSwitchCell</string>
				  <key>default</key>
				  <false/>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>icon</key>
				  <string>icon/glo@2x.png</string>
				  <key>key</key>
				  <string>glo</string>
				  <key>label</key>
				  <string>Glow</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>ggo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/git@2x.png</string>
					<key>key</key>
					<string>git</string>
					<key>label</key>
					<string>Guitar</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>ggu</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/hot@2x.png</string>
					<key>key</key>
					<string>hot</string>
					<key>label</key>
					<string>Hot8 Pro</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>hto</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/gam@2x.png</string>
					<key>key</key>
					<string>gam</string>
					<key>label</key>
					<string>Hungama</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>huo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/hyp@2x.png</string>
					<key>key</key>
					<string>hyp</string>
					<key>label</key>
					<string>Hypetype</string>
				</dict>

		<dict>		
			<key>action</key>
			<string>hho</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ادعمني</string>
		</dict>


	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/pa@2x.png</string>
			<key>label</key>
			<string>pa</string>
		</dict>   

	</array>
	<key>title</key>
	<string>app</string>
</dict>
</plist>
