<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/inf@2x.png</string>
		  <key>key</key>
		  <string>inf</string>
		  <key>label</key>
		  <string>Infuse 6</string>
		</dict>
	  <dict>		
			<key>action</key>
			<string>por</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/IMO@2x.png</string>
		  <key>key</key>
		  <string>imo</string>
		  <key>label</key>
		  <string>IMO</string>
		</dict>
	<dict>		
			<key>action</key>
			<string>imo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/trn@2x.png</string>
		  <key>key</key>
		  <string>trn</string>
		  <key>label</key>
		  <string>iTranslate</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>ito</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/jio@2x.png</string>
		  <key>key</key>
		  <string>jio</string>
		  <key>label</key>
		  <string>JioSaavn</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>jio</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/joo@2x.png</string>
		  <key>key</key>
		  <string>joo</string>
		  <key>label</key>
		  <string>joox</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>joo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/kod@2x.png</string>
		  <key>key</key>
		  <string>kod</string>
		  <key>label</key>
		  <string>Kodi</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>koo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/mo@2x.png</string>
		  <key>key</key>
		  <string>mov</string>
		  <key>label</key>
		  <string>MediaBox Pro</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>moo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/mem@2x.png</string>
		  <key>key</key>
		  <string>mem</string>
		  <key>label</key>
		  <string>Memorado</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>ooo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/cpu@2x.png</string>
		  <key>key</key>
		  <string>cpu</string>
		  <key>label</key>
		  <string>Mobile Master-CPU Master</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>oop</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/orn@2x.png</string>
		  <key>key</key>
		  <string>orn</string>
		  <key>label</key>
		  <string>OrNETBrowser Pro</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>oor</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/pla@2x.png</string>
		  <key>key</key>
		  <string>pla</string>
		  <key>label</key>
		  <string>planes live</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>ooi</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/ple@2x.png</string>
		  <key>key</key>
		  <string>ple</string>
		  <key>label</key>
		  <string>Plex</string>
		</dict>
		<dict>
		  <key>cellClass</key>
		  <string>HBLinkTableCell</string>
		  <key>icon</key>
		  <string>icon/dow@2x.png</string>
		  <key>label</key>
		  <string>Plex</string>
		  <key>subtitle</key>
		  <string>dow</string>
		  <key>url</key>
		  <string></string>
		</dict>
	<dict>		
			<key>action</key>
			<string>oob</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/unu@2x.png</string>
		    <key>key</key>
		    <string>unu</string>
		    <key>label</key>
		    <string>SoundCloud</string>
		  </dict>

	<dict>		
			<key>action</key>
			<string>sou</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/tik@2x.png</string>
		  <key>key</key>
		  <string>tik</string>
		  <key>label</key>
		  <string>TikSave</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>tou</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/tin@2x.png</string>
		  <key>key</key>
		  <string>ttt</string>
		  <key>label</key>
		  <string>Tinder</string>
		</dict>

	<dict>		
			<key>action</key>
			<string>tin</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>pa</string>
		</dict>

	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/pa@2x.png</string>
			<key>label</key>
			<string>pa</string>
		</dict>   

	</array>
	<key>title</key>
	<string>appT</string>
</dict>
</plist>
