<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			  <dict>
			    <key>PostNotification</key>
			    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			    <key>cell</key>
			    <string>PSSwitchCell</string>
			    <key>default</key>
			    <false/>
			    <key>defaults</key>
			    <string>com.github.tw3to.tw3ha</string>
			      <key>icon</key>
			  <string>icon/fir@2x.png</string>
			      <key>key</key>
			      <string>fir</string>
			    <key>label</key>
			    <string>FirstVPN Premium</string>
			  </dict>

	  <dict>		
			<key>action</key>
			<string>fir</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			    <dict>
			      <key>PostNotification</key>
			      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			      <key>cell</key>
			      <string>PSSwitchCell</string>
			      <key>default</key>
			      <false/>
			      <key>defaults</key>
			      <string>com.github.tw3to.tw3ha</string>
			        <key>icon</key>
			    <string>icon/get@2x.png</string>
			        <key>key</key>
			        <string>get</string>
			      <key>label</key>
			      <string>GetVPN Premium</string>
			    </dict>


	  <dict>		
			<key>action</key>
			<string>git</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			  	<dict>
			  				<key>PostNotification</key>
			  				<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			  				<key>cell</key>
			  				<string>PSSwitchCell</string>
			  				<key>default</key>
			  				<false/>
			  				<key>defaults</key>
			  				<string>com.github.tw3to.tw3ha</string>
			  		    	<key>icon</key>
			  			<string>icon/hex@2x.png</string>
			  			    <key>key</key>
			  			    <string>hex</string>
			  				<key>label</key>
			  				<string>Hexatech Premium</string>
			  			</dict>

	  <dict>		
			<key>action</key>
			<string>hex</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			        <dict>
			          <key>PostNotification</key>
			          <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			          <key>cell</key>
			          <string>PSSwitchCell</string>
			          <key>default</key>
			          <false/>
			          <key>defaults</key>
			          <string>com.github.tw3to.tw3ha</string>
			          <key>icon</key>
			          <string>icon/por@2x.png</string>
			          <key>key</key>
			          <string>por</string>
			          <key>label</key>
			          <string>Proxy Master</string>
			        </dict>

	  <dict>		
			<key>action</key>
			<string>pro</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			        		<dict>
			        				<key>PostNotification</key>
			        				<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			        				<key>cell</key>
			        				<string>PSSwitchCell</string>
			        				<key>default</key>
			        				<false/>
			        				<key>defaults</key>
			        				<string>com.github.tw3to.tw3ha</string>
			        		    	<key>icon</key>
			        			<string>icon/mas@2x.png</string>
			        			    <key>key</key>
			        			    <string>mas</string>
			        				<key>label</key>
			        				<string>VPN Proxy Master VIP</string>
			        			</dict>

	  <dict>		
			<key>action</key>
			<string>pro</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

			            			<dict>
			            				<key>PostNotification</key>
			            				<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			            				<key>cell</key>
			            				<string>PSSwitchCell</string>
			            				<key>default</key>
			            				<false/>
			            				<key>defaults</key>
			            				<string>com.github.tw3to.tw3ha</string>
			            		    	<key>icon</key>
			            		    	<string>icon/oxy@2x.png</string>
			            			    <key>key</key>
			            			    <string>oxy</string>
			            				<key>label</key>
			            				<string>ProxyVPN Premium</string>
			            			</dict>

	  <dict>		
			<key>action</key>
			<string>poo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			                			<dict>
			                				<key>PostNotification</key>
			                				<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			                				<key>cell</key>
			                				<string>PSSwitchCell</string>
			                				<key>default</key>
			                				<false/>
			                				<key>defaults</key>
			                				<string>com.github.tw3to.tw3ha</string>
			                		    	<key>icon</key>
			                		    	<string>icon/psn@2x.png</string>
			                			    <key>key</key>
			                			    <string>psn</string>
			                				<key>label</key>
			                				<string>Psiphon Premium</string>
			                			</dict>

	  <dict>		
			<key>action</key>
			<string>ptr</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			                      <dict>
			                          <key>PostNotification</key>
			                          <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			                          <key>cell</key>
			                          <string>PSSwitchCell</string>
			                          <key>default</key>
			                          <false/>
			                          <key>defaults</key>
			                          <string>com.github.tw3to.tw3ha</string>
			                            <key>icon</key>
			                        <string>icon/sta@2x.png</string>
			                            <key>key</key>
			                            <string>sta</string>
			                          <key>label</key>
			                          <string>StarVPN Premium</string>
			                        </dict>

	  <dict>		
			<key>action</key>
			<string>str</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			                 		<dict>
			                 				<key>PostNotification</key>
			                 				<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			                 				<key>cell</key>
			                 				<string>PSSwitchCell</string>
			                 				<key>default</key>
			                 				<false/>
			                 				<key>defaults</key>
			                 				<string>com.github.tw3to.tw3ha</string>
			                 		    	<key>icon</key>
			                 			<string>icon/sol@2x.png</string>
			                 			    <key>key</key>
			                 			    <string>sol</string>
			                 				<key>label</key>
			                 				<string>soloVPN Premium</string>
			                 			</dict>


	  <dict>		
			<key>action</key>
			<string>soo</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
			                           <dict>
			                             <key>PostNotification</key>
			                             <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			                             <key>cell</key>
			                             <string>PSSwitchCell</string>
			                             <key>default</key>
			                             <false/>
			                             <key>defaults</key>
			                             <string>com.github.tw3to.tw3ha</string>
			                               <key>icon</key>
			                               <string>icon/tur@2x.png</string>
			                               <key>key</key>
			                               <string>tur</string>
			                             <key>label</key>
			                             <string>Turbo VPN Premium</string>
			                           </dict>

	  <dict>		
			<key>action</key>
			<string>tur</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>pa</string>
		</dict>

	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/pa@2x.png</string>
			<key>label</key>
			<string>pa</string>
		</dict>   
		</array>
		<key>title</key>
		<string>appvpn</string>
	</dict>
</plist>
