<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/msm@2x.png</string>
		  <key>key</key>
		  <string>msm</string>
		  <key>label</key>
		  <string>المصمم</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mbm</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/brr@2x.png</string>
		  <key>key</key>
		  <string>brr</string>
		  <key>label</key>
		  <string>Airbrush Pro</string>
		</dict>


	    <dict>		
			<key>action</key>
			<string>mbb</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/ban@2x.png</string>
		  <key>key</key>
		  <string>ban</string>
		  <key>label</key>
		  <string>BackgroundEraser Pro</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mxb</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/cu@2x.png</string>
		  <key>key</key>
		  <string>smx</string>
		  <key>label</key>
		  <string>CuteCut Pro</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mxc</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>
		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/dar@2x.png</string>
		    <key>key</key>
		    <string>dar</string>
		    <key>label</key>
		    <string>Darkroom Premium</string>
		  </dict>

	    <dict>		
			<key>action</key>
			<string>mxe</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/edt@2x.png</string>
		    <key>key</key>
		    <string>edt</string>
		    <key>label</key>
		    <string>Enlight QuickShot Pro</string>
		  </dict>

	    <dict>		
			<key>action</key>
			<string>mxq</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/fff@2x.png</string>
		  <key>key</key>
		  <string>fff</string>
		  <key>label</key>
		  <string>facetune2</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mxf</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/fac@2x.png</string>
		  <key>key</key>
		  <string>fac</string>
		  <key>label</key>
		  <string>FaceSwapApp</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mxx</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/foc@2x.png</string>
		  <key>key</key>
		  <string>foc</string>
		  <key>label</key>
		  <string>focos Pro</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mix</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/ttv@2x.png</string>
		  <key>key</key>
		  <string>ttv</string>
		  <key>label</key>
		  <string>Instasize Pro</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>miz</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/cco@2x.png</string>
		  <key>key</key>
		  <string>cco</string>
		  <key>label</key>
		  <string>Iconic</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>mia</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/sh@2x.png</string>
		  <key>key</key>
		  <string>icon/sho</string>
		  <key>label</key>
		  <string>InShot Pro</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>miw</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/ki@2x.png</string>
		  <key>key</key>
		  <string>kin</string>
		  <key>label</key>
		  <string>KineMaster Pro</string>
		</dict>

	    <dict>		
			<key>action</key>
			<string>miq</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/mix@2x.png</string>
		  <key>key</key>
		  <string>mix</string>
		  <key>label</key>
		  <string>Mixoo Pro</string>
		</dict>

	   <dict>		
			<key>action</key>
			<string>mim</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		   </dict>
		<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/mmo@2x.png</string>
					<key>key</key>
					<string>mmo</string>
					<key>label</key>
					<string>Movie Master</string>
				</dict>

	   <dict>		
			<key>action</key>
			<string>viq</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		   </dict>
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/mxx@2x.png</string>
					<key>key</key>
					<string>mxx</string>
					<key>label</key>
					<string>mixgram</string>
				</dict>

	   <dict>		
			<key>action</key>
			<string>viv</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		   </dict>
	 <dict>
		      <key>PostNotification</key>
		      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		      <key>cell</key>
		      <string>PSSwitchCell</string>
		      <key>default</key>
		      <false/>
		      <key>defaults</key>
		      <string>com.github.tw3to.tw3ha</string>
		      <key>icon</key>
		      <string>icon/pho@2x.png</string>
		      <key>key</key>
		      <string>pho</string>
		      <key>label</key>
		      <string>PhotoStitchMax Pro</string>
		    </dict>

	  <dict>		
			<key>action</key>
			<string>vip</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		    <dict>
		      <key>PostNotification</key>
		      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		      <key>cell</key>
		      <string>PSSwitchCell</string>
		      <key>default</key>
		      <false/>
		      <key>defaults</key>
		      <string>com.github.tw3to.tw3ha</string>
		      <key>icon</key>
		      <string>icon/sli@2x.png</string>
		      <key>key</key>
		      <string>sli</string>
		      <key>label</key>
		      <string>Slidebox</string>
		    </dict>

	  <dict>		
			<key>action</key>
			<string>vie</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>

		<dict>
		  			<key>PostNotification</key>
		  			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  			<key>cell</key>
		  			<string>PSSwitchCell</string>
		  			<key>default</key>
		  			<false/>
		  			<key>defaults</key>
		  			<string>com.github.tw3to.tw3ha</string>
		  			<key>icon</key>
		  			<string>icon/vi@2x.png</string>
		  			<key>key</key>
		  			<string>ios</string>
		  			<key>label</key>
		  			<string>VivaVideo Pro</string>
		</dict>

	  <dict>		
			<key>action</key>
			<string>vio</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		  		<dict>
		  			<key>PostNotification</key>
		  			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  			<key>cell</key>
		  			<string>PSSwitchCell</string>
		  			<key>default</key>
		  			<false/>
		  			<key>defaults</key>
		  			<string>com.github.tw3to.tw3ha</string>
		  			<key>icon</key>
		  			<string>icon/st@2x.png</string>
		  			<key>key</key>
		  			<string>saw</string>
		  			<key>label</key>
		  			<string>VivaStar Pro</string>
		  		</dict>
	  <dict>		
			<key>action</key>
			<string>vid</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		  		<dict>
		  			<key>PostNotification</key>
		  			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  			<key>cell</key>
		  			<string>PSSwitchCell</string>
		  			<key>default</key>
		  			<false/>
		  			<key>defaults</key>
		  			<string>com.github.tw3to.tw3ha</string>
		  			<key>icon</key>
		  			<string>icon/s90@2x.png</string>
		  			<key>key</key>
		  			<string>s90</string>
		  			<key>label</key>
		  			<string>09S</string>
		  		</dict>

	  <dict>		
			<key>action</key>
			<string>sss</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>pa</string>
		</dict>

	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>
	</array>
	<key>title</key>
	<string>appde</string>
</dict>
</plist>
