<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>الشكر ل ابو نذير مطور عظيم</string>
			<key>user</key>
			<string>DzMoha_31</string>
		</dict>

	<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>مطور</string>
			<key>user</key>
			<string>game_hacker080</string>
		</dict>

	<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>مطور</string>
			<key>user</key>
			<string>uae_tech2‬</string>
		</dict>

	<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>مطور</string>
			<key>user</key>
			<string>shiar_ahmed‬</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>© 2020
 By @tw3ha </string>
		</dict>
	</array>
	<key>title</key>
	<string>المطورين</string>
</dict>
</plist>
