<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/mos@2x.png</string>
		  <key>key</key>
		  <string>mos</string>
		  <key>label</key>
		  <string>المصلي</string>
		</dict>

	  <dict>		
			<key>action</key>
			<string>mos</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/anm@2x.png</string>
		  <key>key</key>
		  <string>anm</string>
		  <key>label</key>
		  <string>ANDM no ads</string>
		</dict>

	  <dict>		
			<key>action</key>
			<string>and</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		</dict>	
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/cut@2x.png</string>
		  <key>key</key>
		  <string>cut</string>
		  <key>label</key>
		  <string>Cut for Stories</string>
		</dict>
	  <dict>		
			<key>action</key>
			<string>cat</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>	
		 

		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/gri@2x.png</string>
		    <key>key</key>
		    <string>gri</string>
		    <key>label</key>
		    <string>Grinder no ads</string>
		  </dict>

	      <dict>		
			<key>action</key>
			<string>cai</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>	
		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/gar@2x.png</string>
		    <key>key</key>
		    <string>gar</string>
		    <key>label</key>
		    <string>Gradient Photo Editor</string>
		  </dict>

	      <dict>		
			<key>action</key>
			<string>caq</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		  </dict>
		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/cic@2x.png</string>
		    <key>key</key>
		    <string>cic</string>
		    <key>label</key>
		    <string>iCleanerPro no ads</string>
		  </dict>

	      <dict>		
			<key>action</key>
			<string>caa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>add</string>
		  </dict>
		  <dict>
		    <key>PostNotification</key>
		    <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <false/>
		    <key>defaults</key>
		    <string>com.github.tw3to.tw3ha</string>
		    <key>icon</key>
		    <string>icon/htm@2x.png</string>
		    <key>key</key>
		    <string>htm</string>
		    <key>label</key>
		    <string>iHost - HTML Live</string>
		  </dict>



	      <dict>		
			<key>action</key>
			<string>hho</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		    </dict>
 
		    <dict>
		      <key>PostNotification</key>
		      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		      <key>cell</key>
		      <string>PSSwitchCell</string>
		      <key>default</key>
		      <false/>
		      <key>defaults</key>
		      <string>com.github.tw3to.tw3ha</string>
		      <key>icon</key>
		      <string>icon/you@2x.png</string>
		      <key>key</key>
		      <string>you</string>
		      <key>label</key>
		      <string>YouTube no ads</string>
		    </dict>
		    <dict>
		      <key>cellClass</key>
		      <string>HBLinkTableCell</string>
		      <key>icon</key>
		      <string>icon/dow@2x.png</string>
		      <key>label</key>
		      <string>YouTube</string>
		      <key>subtitle</key>
		      <string>dow</string>
		      <key>url</key>
		      <string></string>
		    </dict>
	      <dict>		
			<key>action</key>
			<string>hhy</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		    </dict>
		    <dict>
		      <key>PostNotification</key>
		      <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		      <key>cell</key>
		      <string>PSSwitchCell</string>
		      <key>default</key>
		      <false/>
		      <key>defaults</key>
		      <string>com.github.tw3to.tw3ha</string>
		      <key>icon</key>
		      <string>icon/sco@2x.png</string>
		      <key>key</key>
		      <string>sco</string>
		      <key>label</key>
		      <string>365Scores</string>
		    </dict>
	      <dict>		
			<key>action</key>
			<string>hyy</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string></string>
			<key>label</key>
			<string>dow</string>
		    </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>re</string>
		</dict>
		<dict>
			<key>action</key>
			<string>A</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>re.png</string>
			<key>label</key>
			<string>re</string>
		</dict>
 	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/pa@2x.png</string>
			<key>label</key>
			<string>pa</string>
		</dict>   
	</array>
	<key>title</key>
	<string>appno</string>
</dict>
</plist>
