<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
		  <key>cell</key>
		  <string>PSGroupCell</string>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>footerText</key>
		  <string>REMM</string>
		</dict>
		<dict>
		  <key>PostNotification</key>
		  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
		  <key>cell</key>
		  <string>PSSwitchCell</string>
		  <key>default</key>
		  <false/>
		  <key>defaults</key>
		  <string>com.github.tw3to.tw3ha</string>
		  <key>icon</key>
		  <string>icon/spr@2x.png</string>
		  <key>key</key>
		  <string>rem</string>
		  <key>label</key>
		  <string>REM</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>hid</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>icon</key>
			<string>icon/spr@2x.png</string>
			<key>key</key>
			<string>doc</string>
			<key>label</key>
			<string>Hide Dock</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>rem</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>icon</key>
			<string>icon/spr@2x.png</string>
			<key>key</key>
			<string>mes</string>
			<key>label</key>
			<string>rem</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>no</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>icon</key>
			<string>icon/spr@2x.png</string>
			<key>key</key>
			<string>mos</string>
			<key>label</key>
			<string>The lock screen does not turn on when the volume</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>off</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>icon</key>
			<string>icon/spr@2x.png</string>
			<key>key</key>
			<string>cha</string>
			<key>label</key>
			<string>off</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>bar</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>icon</key>
			<string>icon/spr@2x.png</string>
			<key>key</key>
			<string>saf</string>
			<key>label</key>
			<string>bar</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>wha</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>icon</key>
			<string>icon/spr@2x.png</string>
			<key>key</key>
			<string>cam</string>
			<key>label</key>
			<string>wwha</string>
				</dict>

				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>footerText</key>
					<string>up</string>
				</dict>
				<dict>
					<key>PostNotification</key>
					<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>default</key>
					<false/>
					<key>defaults</key>
					<string>com.github.tw3to.tw3ha</string>
					<key>icon</key>
					<string>icon/spr@2x.png</string>
					<key>key</key>
					<string>cub</string>
					<key>label</key>
					<string>up</string>
				</dict>
				<dict>
				  <key>cell</key>
				  <string>PSGroupCell</string>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>footerText</key>
				  <string>cy</string>
				</dict>
				<dict>
				  <key>PostNotification</key>
				  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				  <key>cell</key>
				  <string>PSSwitchCell</string>
				  <key>default</key>
				  <false/>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>icon</key>
				  <string>icon/spr@2x.png</string>
				  <key>key</key>
				  <string>cdk</string>
				  <key>label</key>
				  <string>cy</string>
				</dict>
				<dict>
				  <key>cell</key>
				  <string>PSGroupCell</string>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>footerText</key>
				  <string>zom</string>
				</dict>
				<dict>
				  <key>PostNotification</key>
				  <string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				  <key>cell</key>
				  <string>PSSwitchCell</string>
				  <key>default</key>
				  <false/>
				  <key>defaults</key>
				  <string>com.github.tw3to.tw3ha</string>
				  <key>icon</key>
				  <string>icon/spr@2x.png</string>
				  <key>key</key>
				  <string>zom</string>
				  <key>label</key>
				  <string>Change zoom camera</string>
				</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>re</string>
		</dict>
		<dict>
			<key>action</key>
			<string>A</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>re.png</string>
			<key>label</key>
			<string>re</string>
		</dict>
	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/pa@2x.png</string>
			<key>label</key>
			<string>pa</string>
		</dict>   
	</array>
	<key>title</key>
	<string>spring</string>
</dict>
</plist>
