<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>min</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/min@2x.png</string>
			<key>label</key>
			<string>Minecraft</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/gf9pcu8jvv3ky90/Minecraft.ipa/file</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>muo</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/muo@2x.png</string>
			<key>label</key>
			<string>MuOrigin.ro</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/f79e663afog0ra8/MuOrigin.ipa/file</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>drr</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/drr@2x.png</string>
			<key>label</key>
			<string>Dragon ball</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/b3qluh3vm5caq33/Dragon_ball.ipa/file</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>aki</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/aki@2x.png</string>
			<key>label</key>
			<string>Akinator VIP</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/x6gw3yewrstsucq/Akinator_VIP.ipa/file</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>dra</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/dra@2x.png</string>
			<key>label</key>
			<string>DraftCode</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/724nxa23ex0yhwr/DraftCode.ipa/file</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>med</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/med@2x.png</string>
			<key>label</key>
			<string>MediaBox</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/uvwim1f0k7i9kh5/MediaBox.ipa/file</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>con</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/con@2x.png</string>
			<key>label</key>
			<string>1Contact PRO</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/pxfictvwgi3z2td/1Contact.ipa/file</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>pou</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/pou@2x.png</string>
			<key>label</key>
			<string>Pou</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>http://www.mediafire.com/file/f9g1kjx4yeht1em/Pou.ipa/file</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>footerText</key>
			<string>zi</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>icon</key>
			<string>store/zi@2x.png</string>
			<key>label</key>
			<string>ZiniTevi</string>
			<key>subtitle</key>
			<string>dow</string>
			<key>url</key>
			<string>https://www.mediafire.com/file/neb5dozau2qb75y/ZiniTevi.ipa/file</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>sh</string>
		</dict>

		<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>icon</key>
				<string>store/cy@2x.png</string>
				<key>label</key>
				<string>tigisoftware</string>
				<key>subtitle</key>
				<string>tig</string>
				<key>url</key>
				<string>cydia://url/https://cydia.saurik.com/api/share#?source=http://tigisoftware.com/cydia/</string>
			</dict>

			<dict>
					<key>cellClass</key>
					<string>HBLinkTableCell</string>
					<key>icon</key>
					<string>store/cy@2x.png</string>
					<key>label</key>
					<string>akemi</string>
					<key>subtitle</key>
					<string>ake</string>
					<key>url</key>
					<string>cydia://url/https://cydia.saurik.com/api/share#?source=https://cydia.akemi.ai/</string>
				</dict>

				<dict>
						<key>cellClass</key>
						<string>HBLinkTableCell</string>
						<key>icon</key>
						<string>store/yo@2x.png</string>
						<key>label</key>
						<string>yo</string>
						<key>subtitle</key>
						<string>yo</string>
						<key>url</key>
						<string>https://youtu.be/6ipB8ZMJvMU</string>
					</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>pa</string>
		</dict>
		<dict>
		<key>cellClass</key>
		<string>HBLinkTableCell</string>
		<key>icon</key>
		<string>icon/pa@2x.png</string>
		<key>label</key>
		<string>PayPal</string>
		<key>subtitle</key>
		<string>pa</string>
		<key>url</key>
		<string>https://www.Paypal.Me/tw3ha/</string>
	</dict>
	</array>
	<key>title</key>
	<string>store</string>
</dict>
</plist>
