<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBImageTableCell</string>
				<key>icon</key>
				<string>Banner.png</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.github.tw3to.tw3ha/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.github.tw3to.tw3ha</string>
				<key>icon</key>
				<string>tw/PU@2x.png</string>
				<key>key</key>
				<string>ipa</string>
				<key>label</key>
				<string>InAppPurchase</string>
			</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>GameRootListController</string>
			<key>icon</key>
			<string>tw/game@2x</string>
			<key>label</key>
			<string>ga</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>AppRootListController</string>
			<key>icon</key>
			<string>tw/App@2x.png</string>
			<key>label</key>
			<string>app</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>AppTRootListController</string>
			<key>icon</key>
			<string>tw/App@2x.png</string>
			<key>label</key>
			<string>appT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>NoAdsRootListController</string>
			<key>icon</key>
			<string>tw/NoAds@2x.png</string>
			<key>label</key>
			<string>appno</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>DesignRootListController</string>
			<key>icon</key>
			<string>tw/Design@2x.png</string>
			<key>label</key>
			<string>appde</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>AppVPNRootListController</string>
			<key>icon</key>
			<string>tw/VPN@2x.png</string>
			<key>label</key>
			<string>appvpn</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>SpringRootListController</string>
			<key>icon</key>
			<string>tw/spr@2x.png</string>
			<key>label</key>
			<string>Spring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>storeRootListController</string>
			<key>icon</key>
			<string>tw/store@2x.png</string>
			<key>label</key>
			<string>store</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.github.tw3to.tw3ha</string>
			<key>detail</key>
			<string>DevelopersRootListController</string>
			<key>icon</key>
			<string>tw/Developers@2x.png</string>
			<key>label</key>
			<string>dee</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>pa</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>dea</string>
			<key>user</key>
			<string>1_lj6</string>
		</dict>

 	  <dict>		
			<key>action</key>
			<string>pa</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/pa@2x.png</string>
			<key>label</key>
			<string>pa</string>
		</dict>   
 	  <dict>		
			<key>action</key>
			<string>sn</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>tw/sna@2x.png</string>
			<key>label</key>
			<string>sn</string>
		</dict>   
		
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>res</string>
			<key>label</key>
			<string>Reset and Respring</string>
		</dict>		    
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>©️ 2019
 @tw3ha by 1_lj6</string>
		</dict>
	</array>
	<key>title</key>
	<string>tw3ha</string>
</dict>
</plist>
