{
    Filter =     {
      Bundles =         (
          "com.mobivio.cutecut",
          "com.ketchapp.bouncingball",
          "com.apple.StoreKit",
          "com.quvideo.XiaoYing",
          "com.mars.cpumonitor",
          "com.nilesh.tiksave",
          "com.daneco.iconic",
          "com.exile90.icleanerpro",
          "com.frontierdesign.videostar",
          "com.camerasideas.InstaShot",
          "co.allconnected.vpnmaster",
          "com.kinemaster.app",
          "com.tang.ivideofree",
          "mediaboxhd.event.2",
          "com.ccapps.followerstoolforinstagram",
          "com.lightricks.Enlight-Photos",
          "com.magicv.AirBrush",
          "com.saurik.Cydia",
          "com.vpnmaster.vpn",
          "com.cardify.tinder",
          "com.tickettothemoon.gradient",
          "com.simplicityinapps.HTML-Live",
          "com.google.ios.youtube",
          "com.alessandrograziani.Photo",
          "com.alessandrograziani.Photo-To-
InstaStories",
          "com.klab.bleach",
          "me.pou.app",
          "com.fancygif.EmojiKeyboard",
          "com.365scores.365scroesapp",
          "com.candidate.moviemaster",
          "com.ryzenrise.vaporcam",
          "com.nourayn.almosally",
          "com.2012gpower.instaframe",
          "pironlabs.torbrowser",
          "com.mohammad.musamem",
          "tech.hexa.vpn",
          "kr.co.noonus.BackgroundEraser",
          "com.braincraft.cleaner",
          "com.rafi.rafFaceSwapApr",
          "com.itpropmn07.ContactCleaner",
          "com.starmakerapp.starmaker",
          "com.apple.springboard",
          "co.innovative.Sofast",
          "com.sensustech.GetVPN",
          "com.peach.app",
          "com.aegis.ios",
          "ru.profitspb.firstvpn",
          "com.rafi.rafFaceSwapApr",
          "com.memorado.app",
          "com.upwlabs.emma",
          "com.Saavn.Saavn",
          "bb.Kodi-Remote",
          "com.plexapp.plex",
          "com.soundcloud.TouchApp",
          "com.glowing.lexie",
          "com.globaldelight.iBoom",
          "com.audiomack.iphone",
          "net.whatsapp.WhatsAppSMB",
          "com.google.chrome.ios",
          "org.mozilla.ios.Firefox",
          "com.animecloudkh.rm",
          "xyz.chise.animeiosv2",
          "ca.psiphon.Psiphon",
          "com.soundcloud.TouchApp2",
          "net.shinyfrog.bear-iOS",
          "com.allconnected.turbovpn",
          "com.google.ios.youtube",
          "com.smule.autorap",
          "com.lightricks.Facetune2",
          "com.evernote.iPhone.Evernote",
          "com.duolingo.DuolingoMobile",
          " mobi.musicparadise.DJMixPads2RemixVersionmpubs",
          "com.deezer.Deezer",
          "co.bergen.Darkroom",
          "com.apalonapps.clrbook",
          "com.fungames.colorfy",
          "om.camshare.Camfrog.VideoChat3",
          "om.intsig.CamScannerLite",
          "com.apple.camera",
          "com.camshare.Camfrog.VideoChat3",
          "com.easytigerapps.hypetype",
          "com.sensustech.invoicemaker",
          "com.betterlife.picmove"

      );
  };
  }
